body:hover a {
  text-decoration: none;
}

/* header top start */
header {
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in;
  z-index: 99;
}
header .navbar {
  padding: 0;
}
header .navbar .navbar-brand {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  cursor: pointer;
}
@media (max-width: 991px) {
  header .navbar #navbarNavDropdown {
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: #000000;
    padding: 20px;
  }
}
header .navbar ul li {
  margin-right: 30px;
}
@media (max-width: 991px) {
  header .navbar ul li {
    padding-bottom: 20px;
    display: block;
  }
}
header .navbar ul li:last-child {
  margin-right: 0;
}
header .navbar ul li a {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease-in;
  letter-spacing: 0.5px;
  position: relative;
  padding: 0 !important;
}
header .navbar ul li a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fce38a;
}
header .navbar ul li a:hover {
  color: #fce38a;
  transition: all 0.3s ease-in;
  display: inline-flex;
}
header .navbar ul li a:hover::before {
  width: 100%;
  transition: width 0.5s;
}
header .navbar ul li.active {
  display: inline-flex;
}
header .navbar ul li.active a {
  color: #fce38a !important;
}
header .navbar ul li.active a::before {
  width: 100%;
}

header.sticky {
  padding: 10px 0;
  background-color: #95e1d3;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in;
}

/* header top end */
/* banner sections start */
.banner_sections {
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-size: cover;
  position: relative;
  height: 750px;
}
@media (max-width: 767px) {
  .banner_sections {
    height: 650px;
  }
}
@media (max-width: 480px) {
  .banner_sections {
    height: 550px;
  }
}
.banner_sections .banner_sections_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #f38181 0%, #fce38a 100%);
  opacity: 0.9;
}
.banner_sections .banner_sections_content {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner_sections .banner_sections_content h2 {
  font-size: 72px;
  font-family: "Kaushan Script", cursive;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .banner_sections .banner_sections_content h2 {
    font-size: 60px;
  }
}
@media (max-width: 480px) {
  .banner_sections .banner_sections_content h2 {
    font-size: 40px;
  }
}
.banner_sections .banner_sections_content h1 {
  font-size: 10vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 50px;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  line-height: 120px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .banner_sections .banner_sections_content h1 {
    line-height: 80px;
  }
}
@media (max-width: 480px) {
  .banner_sections .banner_sections_content h1 {
    line-height: 50px;
  }
}
.banner_sections .banner_sections_content h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -40px;
  right: 0;
  margin: auto;
  width: 60px;
  height: 2px;
  background-color: #ffffff;
}
.banner_sections .banner_sections_content a {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  padding: 8px 30px;
  border: solid 3px #ffffff;
  background-color: transparent;
  transition: all 0.3s ease-in;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  letter-spacing: 0.5px;
}
.banner_sections .banner_sections_content a:hover {
  transition: all 0.3s ease-in;
  background-color: #ffffff;
  color: #fce38a;
}

/* banner sections end */
/* about_us sections start */
.about_us_sections {
  position: relative;
  padding: 60px 0 80px 0;
}
@media (max-width: 991px) {
  .about_us_sections {
    padding: 50px 0;
  }
}
.about_us_sections .sections_heading {
  text-align: center;
}
.about_us_sections .sections_heading span {
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: #333333;
  display: block;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: normal;
}
.about_us_sections .sections_heading h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  text-transform: uppercase;
  position: relative;
}
.about_us_sections .sections_heading h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100px;
  margin: auto;
  width: 50px;
  height: 3px;
  background-color: #f38181;
}
@media (max-width: 480px) {
  .about_us_sections .sections_heading h2::after {
    top: 80px;
  }
}
.about_us_sections .sections_heading p {
  font-size: 15px;
  color: #999999;
  line-height: 26px;
  margin: 0 auto;
  width: 100%;
  max-width: 950px;
  margin: 60px auto 50px auto;
  text-align: center;
}
@media (max-width: 480px) {
  .about_us_sections .sections_heading p {
    margin: 40px auto 50px auto;
  }
}
.about_us_sections .about_us_card {
  position: relative;
  width: 100%;
  height: 233px;
  box-shadow: none;
  transition: all 0.3s ease-in;
}
@media (max-width: 991px) {
  .about_us_sections .about_us_card {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .about_us_sections .about_us_card {
    margin-bottom: 30px;
  }
}
.about_us_sections .about_us_card .about_us_card_overlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #f38181 0%, #fce38a 100%);
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
}
.about_us_sections .about_us_card .about_us_card_overlay i {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}
.about_us_sections .about_us_card .about_us_card_overlay h4 {
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0;
}
.about_us_sections .about_us_card img {
  width: 100%;
  height: 100%;
}
.about_us_sections .about_us_card:hover {
  box-shadow: 10px 10px #95e1d3;
  transition: all 0.3s ease-in;
}
.about_us_sections .about_us_card:hover .about_us_card_overlay {
  transition: all 0.3s ease-in;
  opacity: 0.9;
}

/* about_us sections end */
/* counter no sections start */
.counter_no_sections {
  background-color: #95e1d3;
}
.counter_no_sections .counter_number ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.counter_no_sections .counter_number ul li {
  display: inline-block;
  text-align: center;
  width: 218.4px;
  padding: 60px 0;
  border-left: solid 1px #ffffff;
}
@media (max-width: 991px) {
  .counter_no_sections .counter_number ul li {
    width: 134.4px;
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .counter_no_sections .counter_number ul li {
    border: none;
    width: 48%;
  }
}
@media (max-width: 480px) {
  .counter_no_sections .counter_number ul li {
    width: 32%;
  }
}
.counter_no_sections .counter_number ul li .timer {
  font-size: 60px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}
@media (max-width: 991px) {
  .counter_no_sections .counter_number ul li .timer {
    font-size: 50px;
  }
}
.counter_no_sections .counter_number ul li .caption .stat-caption {
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .counter_no_sections .counter_number ul li .caption .stat-caption {
    font-size: 10px;
  }
}
.counter_no_sections .counter_number ul .last_rit_border {
  border-right: solid 1px #ffffff;
}
@media (max-width: 767px) {
  .counter_no_sections .counter_number ul .last_rit_border {
    border: none;
  }
}

/* counter no sections end */
/* amazing services sections start */
.amazing_services_sections {
  padding: 70px 0 30px 0;
  position: relative;
}
.amazing_services_sections .sections_heading {
  text-align: center;
}
.amazing_services_sections .sections_heading span {
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: #333333;
  display: block;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: normal;
}
.amazing_services_sections .sections_heading h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 80px;
}
.amazing_services_sections .sections_heading h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 80px;
  margin: auto;
  width: 50px;
  height: 3px;
  background-color: #f38181;
}
@media (max-width: 480px) {
  .amazing_services_sections .sections_heading h2::after {
    top: 80px;
  }
}
.amazing_services_sections .servic_border_botm {
  position: relative;
}
.amazing_services_sections .servic_border_botm::before {
  content: "";
  position: absolute;
  left: 0;
  top: 110px;
  bottom: 0;
  right: 0;
  background-color: #e5e5e5;
  width: 100%;
  height: 1px;
}
@media (max-width: 991px) {
  .amazing_services_sections .servic_border_botm::before {
    display: none;
  }
}
.amazing_services_sections .services_tab {
  display: flex;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .amazing_services_sections .services_tab {
    display: unset;
    text-align: center;
  }
}
.amazing_services_sections .services_tab .services_icon svg {
  width: 30px;
  height: 30px;
  fill: #95e1d3;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .amazing_services_sections .services_tab .services_icon svg {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .amazing_services_sections .services_tab .services_text {
    margin-bottom: 40px;
  }
}
.amazing_services_sections .services_tab .services_text h6 {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}
.amazing_services_sections .services_tab .services_text p {
  font-size: 15px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

/* amazing services sections end */
/* unique design sections start */
.unique_design_sections {
  background-image: url(../images/mobil-background-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  position: relative;
}
@media (max-width: 767px) {
  .unique_design_sections {
    height: 600px;
  }
}
.unique_design_sections .unique_design_sections_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.unique_design_sections .sections_heading {
  text-align: center;
  padding-top: 60px;
}
.unique_design_sections .sections_heading span {
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: #333333;
  display: block;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: normal;
}
.unique_design_sections .sections_heading h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 80px;
}
@media (max-width: 480px) {
  .unique_design_sections .sections_heading h2 {
    margin-bottom: 0;
  }
}
.unique_design_sections .sections_heading h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 80px;
  margin: auto;
  width: 50px;
  height: 3px;
  background-color: #f38181;
}
@media (max-width: 480px) {
  .unique_design_sections .sections_heading h2::after {
    top: 80px;
  }
}
.unique_design_sections .unique_mobil {
  position: relative;
  text-align: center;
}
.unique_design_sections .unique_mobil img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 29px;
}
@media (max-width: 991px) {
  .unique_design_sections .unique_mobil img {
    max-width: 80%;
    width: 100%;
    margin-top: 73px;
  }
}
@media (max-width: 767px) {
  .unique_design_sections .unique_mobil img {
    margin-top: 5px;
  }
}
@media (max-width: 480px) {
  .unique_design_sections .unique_mobil img {
    margin-top: 130px;
  }
}

/* unique design sections end */
/* what we do sections start */
.what_we_do_sections {
  padding: 80px 0;
  position: relative;
}
.what_we_do_sections .sections_heading {
  text-align: center;
  margin-bottom: 50px;
}
.what_we_do_sections .sections_heading span {
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: #333333;
  display: block;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: normal;
}
.what_we_do_sections .sections_heading h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  text-transform: uppercase;
  position: relative;
}
.what_we_do_sections .sections_heading h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 90px;
  margin: auto;
  width: 50px;
  height: 3px;
  background-color: #f38181;
}
@media (max-width: 480px) {
  .what_we_do_sections .sections_heading h2::after {
    top: 80px;
  }
}
.what_we_do_sections .sections_heading p {
  font-size: 15px;
  color: #999999;
  line-height: 26px;
  margin: 0 auto;
  width: 100%;
  max-width: 950px;
  margin: 60px auto 50px auto;
  text-align: center;
}
.what_we_do_sections .what_we_left_img img {
  width: 100%;
  height: auto;
}
@media (max-width: 991px) {
  .what_we_do_sections .what_we_left_img img {
    margin-bottom: 30px;
  }
}
.what_we_do_sections .what_we_right_accordin #accordion .card {
  border-radius: unset;
  margin-bottom: 10px;
}
.what_we_do_sections .what_we_right_accordin #accordion .card:last-child {
  margin-bottom: 0;
}
.what_we_do_sections .what_we_right_accordin #accordion .card .card-header {
  background-color: transparent;
  padding: 10px 20px;
}
.what_we_do_sections .what_we_right_accordin #accordion .card .card-header .mb-0 {
  display: flex;
  align-items: center;
}
.what_we_do_sections .what_we_right_accordin #accordion .card .card-header .mb-0 svg {
  width: 30px;
  height: 30px;
  fill: #95e1d3;
  margin-right: 10px;
}
.what_we_do_sections .what_we_right_accordin #accordion .card .card-header .mb-0 a {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-family: "Montserrat", sans-serif;
}
.what_we_do_sections .what_we_right_accordin #accordion .card .card-body {
  font-size: 15px;
  font-style: italic;
  color: #999999;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  padding: 15px;
  font-weight: 300;
}

/* what we do sections end */
/* quote testimonial sections start */
.quote_testimonial_sections {
  background-color: #f8f8f8;
  padding: 60px 0;
  position: relative;
}
.quote_testimonial_sections #testimonial4 .carousel-inner {
  width: 85%;
  margin: 0 auto;
}
.quote_testimonial_sections #testimonial4 .carousel-inner .carousel-item .testimonial4_slide {
  display: flex;
}
@media (max-width: 767px) {
  .quote_testimonial_sections #testimonial4 .carousel-inner .carousel-item .testimonial4_slide {
    display: unset;
    text-align: center;
  }
}
.quote_testimonial_sections #testimonial4 .carousel-inner .carousel-item .testimonial4_slide .testimonial_img {
  width: 350px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #95e1d3;
  margin: 8px 30px 0 0;
}
@media (max-width: 767px) {
  .quote_testimonial_sections #testimonial4 .carousel-inner .carousel-item .testimonial4_slide .testimonial_img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 15px;
  }
}
.quote_testimonial_sections #testimonial4 .carousel-inner .carousel-item .testimonial4_slide .testimonial_img svg {
  width: 50px;
  height: 50px;
  fill: #95e1d3;
}
@media (max-width: 991px) {
  .quote_testimonial_sections #testimonial4 .carousel-inner .carousel-item .testimonial4_slide .testimonial_img svg {
    width: 45px;
    height: 45px;
  }
}
.quote_testimonial_sections #testimonial4 .carousel-inner .carousel-item .testimonial4_slide .testimonial_text p {
  font-size: 22px;
  font-style: italic;
  color: #999999;
  line-height: 30px;
  font-weight: 300;
}
@media (max-width: 991px) {
  .quote_testimonial_sections #testimonial4 .carousel-inner .carousel-item .testimonial4_slide .testimonial_text p {
    font-size: 18px;
    line-height: 25px;
  }
}
.quote_testimonial_sections #testimonial4 .carousel-inner .carousel-item .testimonial4_slide .testimonial_text h4 {
  font-size: 22px;
  font-family: "Kaushan Script", cursive !important;
  color: #333333;
  margin-bottom: 0;
  position: relative;
  padding-left: 60px;
}
.quote_testimonial_sections #testimonial4 .carousel-inner .carousel-item .testimonial4_slide .testimonial_text h4::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 18px;
  width: 50px;
  height: 3px;
  background-color: #f38181;
}
@media (max-width: 767px) {
  .quote_testimonial_sections #testimonial4 .carousel-inner .carousel-item .testimonial4_slide .testimonial_text h4::before {
    left: 120px;
  }
}
.quote_testimonial_sections #testimonial4 .carousel-control-prev {
  width: 0;
  font-size: 35px;
  color: #333333;
  padding-left: 6px;
}
.quote_testimonial_sections #testimonial4 .carousel-control-next {
  width: 0;
  font-size: 35px;
  color: #333333;
  padding-right: 6px;
}

/* quote testimonial sections end */
/* meet our team sections start */
.meet_our_team_sections {
  position: relative;
  padding: 70px 0;
}
@media (max-width: 991px) {
  .meet_our_team_sections {
    padding: 70px 0 0 0;
  }
}
.meet_our_team_sections .sections_heading {
  text-align: center;
}
.meet_our_team_sections .sections_heading span {
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: #333333;
  display: block;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: normal;
}
.meet_our_team_sections .sections_heading h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  text-transform: uppercase;
  position: relative;
}
.meet_our_team_sections .sections_heading h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100px;
  margin: auto;
  width: 50px;
  height: 3px;
  background-color: #f38181;
}
@media (max-width: 480px) {
  .meet_our_team_sections .sections_heading h2::after {
    top: 80px;
  }
}
.meet_our_team_sections .sections_heading p {
  font-size: 15px;
  color: #999999;
  line-height: 26px;
  margin: 0 auto;
  width: 100%;
  max-width: 950px;
  margin: 60px auto 60px auto;
  text-align: center;
}
@media (max-width: 480px) {
  .meet_our_team_sections .sections_heading p {
    margin: 40px auto 50px auto;
  }
}
.meet_our_team_sections .our_team {
  position: relative;
}
@media (max-width: 991px) {
  .meet_our_team_sections .our_team {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .meet_our_team_sections .our_team {
    margin-bottom: 30px;
  }
}
.meet_our_team_sections .our_team .team_img {
  width: 100%;
  height: 430px;
  position: relative;
  box-shadow: 0;
  transition: all 0.3s ease-in;
}
@media (max-width: 767px) {
  .meet_our_team_sections .our_team .team_img {
    height: auto;
  }
}
.meet_our_team_sections .our_team .team_img .our_team_overlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #f38181 0%, #fce38a 100%);
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
}
.meet_our_team_sections .our_team .team_img .our_team_overlay ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.meet_our_team_sections .our_team .team_img .our_team_overlay ul li {
  display: inline-block;
  text-align: center;
  margin-right: -4px;
}
.meet_our_team_sections .our_team .team_img .our_team_overlay ul li a {
  padding: 12px 14px;
  border-right: solid 1px #f38181;
  background-color: #fce38a;
  transition: all 0.3s ease-in;
}
.meet_our_team_sections .our_team .team_img .our_team_overlay ul li a:hover {
  background-color: #f38181;
}
.meet_our_team_sections .our_team .team_img .our_team_overlay ul li a:hover i {
  color: #ffffff;
  transition: all 0.3s ease-in;
}
.meet_our_team_sections .our_team .team_img .our_team_overlay ul li a i {
  font-size: 20px;
  color: #f38181;
  transition: all 0.3s ease-in;
}
.meet_our_team_sections .our_team .team_img .our_team_overlay ul li .team_last_icon {
  border-right: 0;
}
.meet_our_team_sections .our_team .team_img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .meet_our_team_sections .our_team .team_img img {
    height: auto;
  }
}
.meet_our_team_sections .our_team .team_img:hover {
  box-shadow: 10px 10px #95e1d3;
  transition: all 0.3s ease-in;
}
.meet_our_team_sections .our_team .team_img:hover .our_team_overlay {
  transition: all 0.3s ease-in;
  opacity: 0.9;
}
.meet_our_team_sections .our_team .our_team_footer {
  text-align: center;
  padding-top: 30px;
}
.meet_our_team_sections .our_team .our_team_footer p {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 5px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
}
.meet_our_team_sections .our_team .our_team_footer span {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #999999;
  font-style: italic;
  font-weight: 300;
}

/* meet our team sections end */
/* company logo sections start */
.company_logo_sections {
  background-color: #f8f8f8;
  padding: 50px 0;
}
.company_logo_sections .owl-slider #carousel .item img {
  width: 100px;
  height: 100px;
}
.company_logo_sections .owl-nav {
  opacity: 0;
}

/* company logo sections end */
/* some of our work sections start */
.some_of_our_work_sections {
  padding-top: 70px;
  position: relative;
}
.some_of_our_work_sections .sections_heading {
  text-align: center;
}
.some_of_our_work_sections .sections_heading span {
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: #333333;
  display: block;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: normal;
}
.some_of_our_work_sections .sections_heading h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  text-transform: uppercase;
  position: relative;
}
.some_of_our_work_sections .sections_heading h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100px;
  margin: auto;
  width: 50px;
  height: 3px;
  background-color: #f38181;
}
.some_of_our_work_sections .sections_heading p {
  font-size: 15px;
  color: #999999;
  line-height: 26px;
  margin: 0 auto;
  width: 100%;
  max-width: 950px;
  margin: 60px auto 50px auto;
  text-align: center;
}
.some_of_our_work_sections .our_work_row {
  margin-right: 0;
}
.some_of_our_work_sections .our_padding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.some_of_our_work_sections .our_work_img_box {
  position: relative;
  width: 100%;
  height: 290px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .some_of_our_work_sections .our_work_img_box {
    height: auto;
  }
}
.some_of_our_work_sections .our_work_img_box .our_work_img_box_overlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #f38181 0%, #fce38a 100%);
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(1.3);
  transition: all 0.3s ease-in;
}
.some_of_our_work_sections .our_work_img_box .our_work_img_box_overlay i {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 15px;
}
.some_of_our_work_sections .our_work_img_box .our_work_img_box_overlay p {
  font-size: 14px;
  font-weight: "Montserrat", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 0;
}
.some_of_our_work_sections .our_work_img_box .our_work_img_box_overlay span {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-style: italic;
  font-weight: 300;
}
.some_of_our_work_sections .our_work_img_box img {
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .some_of_our_work_sections .our_work_img_box img {
    height: auto;
  }
}
.some_of_our_work_sections .our_work_img_box:hover .our_work_img_box_overlay {
  transform: scale(1);
  opacity: 1;
  transition: all 0.3s ease-in;
}
.some_of_our_work_sections .our_larg_img {
  width: 100%;
  height: 580px;
}
@media (max-width: 767px) {
  .some_of_our_work_sections .our_larg_img {
    height: auto;
  }
}
.some_of_our_work_sections .our_larg_img img {
  width: 100%;
  height: 100%;
}
.some_of_our_work_sections .last_img {
  margin-left: 348px;
  margin-top: -290px;
}
@media (max-width: 991px) {
  .some_of_our_work_sections .last_img {
    margin-left: 510px;
  }
}
@media (max-width: 767px) {
  .some_of_our_work_sections .last_img {
    height: auto;
  }
}

/* some of our work sections end */
/* quote testimonial sections 2 start */
.quote_testimonial_sections_2 {
  background-color: #ffffff;
  padding: 80px 0;
  position: relative;
}
.quote_testimonial_sections_2 #testimonial5 .carousel-inner {
  width: 90%;
  margin: 0 auto;
}
.quote_testimonial_sections_2 #testimonial5 .carousel-inner .carousel-item .testimonial4_slide {
  display: flex;
}
@media (max-width: 767px) {
  .quote_testimonial_sections_2 #testimonial5 .carousel-inner .carousel-item .testimonial4_slide {
    display: unset;
    text-align: center;
  }
}
.quote_testimonial_sections_2 #testimonial5 .carousel-inner .carousel-item .testimonial4_slide .testimonial_img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 30px;
}
.quote_testimonial_sections_2 #testimonial5 .carousel-inner .carousel-item .testimonial4_slide .testimonial_text {
  padding-top: 20px;
}
.quote_testimonial_sections_2 #testimonial5 .carousel-inner .carousel-item .testimonial4_slide .testimonial_text p {
  font-size: 22px;
  font-style: italic;
  color: #999999;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .quote_testimonial_sections_2 #testimonial5 .carousel-inner .carousel-item .testimonial4_slide .testimonial_text p {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.quote_testimonial_sections_2 #testimonial5 .carousel-inner .carousel-item .testimonial4_slide .testimonial_text h4 {
  font-size: 22px;
  font-family: "Kaushan Script", cursive !important;
  color: #333333;
  margin-bottom: 0;
  position: relative;
  padding-left: 60px;
}
.quote_testimonial_sections_2 #testimonial5 .carousel-inner .carousel-item .testimonial4_slide .testimonial_text h4::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 18px;
  width: 50px;
  height: 3px;
  background-color: #f38181;
}
@media (max-width: 767px) {
  .quote_testimonial_sections_2 #testimonial5 .carousel-inner .carousel-item .testimonial4_slide .testimonial_text h4::before {
    left: 140px;
  }
}
@media (max-width: 480px) {
  .quote_testimonial_sections_2 #testimonial5 .carousel-inner .carousel-item .testimonial4_slide .testimonial_text h4::before {
    left: 110px;
  }
}
.quote_testimonial_sections_2 #testimonial5 .carousel-control-prev {
  width: 0;
  font-size: 35px;
  color: #333333;
  padding-left: 6px;
}
.quote_testimonial_sections_2 #testimonial5 .carousel-control-next {
  width: 0;
  font-size: 35px;
  color: #333333;
  padding-right: 6px;
}

/* quote testimonial sections 2 end */
/* what people say sections start */
.what_people_say_sections {
  background-image: url(../images/mobil-background-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  position: relative;
}
@media (max-width: 991px) {
  .what_people_say_sections {
    height: auto;
  }
}
.what_people_say_sections .what_people_say_sections_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.what_people_say_sections .sections_heading {
  text-align: center;
  padding: 50px 0;
}
.what_people_say_sections .sections_heading span {
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: #333333;
  display: block;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: normal;
}
.what_people_say_sections .sections_heading h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
}
.what_people_say_sections .sections_heading h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 80px;
  margin: auto;
  width: 50px;
  height: 3px;
  background-color: #f38181;
}
@media (max-width: 480px) {
  .what_people_say_sections .sections_heading h2::after {
    top: 80px;
  }
}
.what_people_say_sections .people_client_tab {
  display: flex;
  margin-bottom: 60px;
}
@media (max-width: 480px) {
  .what_people_say_sections .people_client_tab {
    display: unset;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .what_people_say_sections .people_client_tab .people_img {
    margin-bottom: 15px;
  }
}
.what_people_say_sections .people_client_tab .people_img img {
  border-radius: 50%;
  margin-right: 20px;
}
@media (max-width: 480px) {
  .what_people_say_sections .people_client_tab .people_client_text {
    margin-bottom: 40px;
  }
}
.what_people_say_sections .people_client_tab .people_client_text h4 {
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.what_people_say_sections .people_client_tab .people_client_text span {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  position: relative;
}
.what_people_say_sections .people_client_tab .people_client_text span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 30px;
  width: 50px;
  height: 3px;
  background-color: #f38181;
}
@media (max-width: 480px) {
  .what_people_say_sections .people_client_tab .people_client_text span::after {
    left: 20px;
  }
}
.what_people_say_sections .people_client_tab .people_client_text p {
  font-size: 15px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
  line-height: 26px;
  padding-top: 30px;
}

/* what people say sections end */
/* latest blog sections start */
.latest_blog_sections {
  padding: 70px 0;
  position: relative;
}
@media (max-width: 991px) {
  .latest_blog_sections {
    padding: 70px 0 20px 0;
  }
}
.latest_blog_sections .sections_heading {
  text-align: center;
}
.latest_blog_sections .sections_heading span {
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: #333333;
  display: block;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: normal;
}
.latest_blog_sections .sections_heading h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 80px;
}
.latest_blog_sections .sections_heading h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 80px;
  margin: auto;
  width: 50px;
  height: 3px;
  background-color: #f38181;
}
@media (max-width: 480px) {
  .latest_blog_sections .sections_heading h2::after {
    top: 80px;
  }
}
@media (max-width: 991px) {
  .latest_blog_sections .latest_blog_tab {
    margin-bottom: 50px;
  }
}
.latest_blog_sections .latest_blog_tab .blog_image {
  width: 100%;
  height: 230px;
  position: relative;
}
@media (max-width: 767px) {
  .latest_blog_sections .latest_blog_tab .blog_image {
    height: auto;
  }
}
.latest_blog_sections .latest_blog_tab .blog_image img {
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .latest_blog_sections .latest_blog_tab .blog_image img {
    height: auto;
  }
}
.latest_blog_sections .latest_blog_tab .blog_image .img_date {
  background-color: #95e1d3;
  padding: 10px 18px;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: -10px;
}
.latest_blog_sections .latest_blog_tab .blog_image .img_date h2 {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
}
.latest_blog_sections .latest_blog_tab .blog_image .img_date span {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #ffffff;
}
.latest_blog_sections .latest_blog_tab .latest_body_tab {
  padding: 20px 0 0 0;
  border-bottom: solid 1px #e5e5e5;
}
.latest_blog_sections .latest_blog_tab .latest_body_tab h4 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
}
.latest_blog_sections .latest_blog_tab .latest_body_tab p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #999999;
  line-height: 25px;
}
.latest_blog_sections .latest_blog_tab .latest_sochil {
  padding-top: 10px;
}
.latest_blog_sections .latest_blog_tab .latest_sochil span {
  font-size: 15px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  margin-right: 15px;
}
.latest_blog_sections .latest_blog_tab .latest_sochil span i {
  font-size: 20px;
  color: #95e1d3;
  margin-right: 5px;
}

/* latest blog sections end */
/* open map sections start */
.open_map_sections {
  background-image: url(../images/mobil-background-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) {
  .open_map_sections {
    height: 180px;
  }
}
.open_map_sections .open_map_sections_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.open_map_sections .open_map {
  text-align: center;
}
.open_map_sections .open_map i {
  font-size: 40px;
  color: #f38181;
  margin-bottom: 10px;
  position: relative;
}
.open_map_sections .open_map h3 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #f38181;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 0;
}
.open_map_sections .open_map h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 60px;
  margin: auto;
  width: 50px;
  height: 3px;
  background-color: #f38181;
}

/* open map sections start end */
/* footer sections start */
.footer_sections {
  background-color: #f8f8f8;
  padding: 80px 0 20px 0;
  position: relative;
}
.footer_sections .footer_border {
  border-bottom: solid 1px #e5e5e5;
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  .footer_sections .footer_mogo {
    margin-bottom: 50px;
  }
}
.footer_sections .footer_mogo .foter_mogo_text {
  border-bottom: solid 1px #e5e5e5;
}
.footer_sections .footer_mogo .foter_mogo_text h1 {
  font-size: 46px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #cccccc;
  margin-bottom: 20px;
}
.footer_sections .footer_mogo .foter_mogo_text p {
  font-size: 15px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  line-height: 25px;
}
.footer_sections .footer_mogo .foter_mogo_text h3 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333333;
  display: inline-block;
  margin-bottom: 15px;
}
.footer_sections .footer_mogo .foter_mogo_text span {
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat", sans-serif;
}
.footer_sections .footer_mogo .mogo_icons {
  padding-top: 20px;
}
.footer_sections .footer_mogo .mogo_icons ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer_sections .footer_mogo .mogo_icons ul span {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #999999;
  font-style: italic;
  font-weight: 300;
  padding-right: 15px;
}
.footer_sections .footer_mogo .mogo_icons ul li {
  display: inline-block;
  margin-right: 10px;
}
.footer_sections .footer_mogo .mogo_icons ul li:last-child {
  margin-right: 0;
}
.footer_sections .footer_mogo .mogo_icons ul li a i {
  font-size: 18px;
  color: #95e1d3;
  transition: all 0.3s ease-in;
}
.footer_sections .footer_mogo .mogo_icons ul li a i:hover {
  color: #f38181;
  transition: all 0.3s ease-in;
}
.footer_sections .footer_mogo .mogo_icons form .form-group {
  display: flex;
  margin-top: 30px;
}
.footer_sections .footer_mogo .mogo_icons form .form-group .form-control {
  border: solid 1px #e7e7e7;
  outline: none;
  width: 60%;
  height: 45px;
  font-size: 15px;
  color: #cccccc;
  border-radius: unset;
  transition: all 0.3s ease-in;
}
.footer_sections .footer_mogo .mogo_icons form .form-group .form-control:focus {
  box-shadow: none;
  border: solid 1px #95e1d3;
  transition: all 0.3s ease-in;
}
.footer_sections .footer_mogo .mogo_icons form .form-group .form-control::placeholder {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #cccccc;
  font-style: italic;
  font-weight: 300;
}
.footer_sections .footer_mogo .mogo_icons form .form-group button {
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #95e1d3;
  border: none;
  outline: none;
  width: 30%;
  height: 45px;
}
.footer_sections .footer_blogs h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  margin-bottom: 20px;
}
.footer_sections .footer_blogs .blog_img_1 {
  display: flex;
  margin-bottom: 30px;
}
.footer_sections .footer_blogs .blog_img_1 .blog_img {
  margin-right: 20px;
}
.footer_sections .footer_blogs .blog_img_1 .blog_img img {
  width: 120;
  height: 80;
}
.footer_sections .footer_blogs .blog_img_1 .blog_img_text {
  padding-top: 10px;
}
@media (max-width: 991px) {
  .footer_sections .footer_blogs .blog_img_1 .blog_img_text {
    padding-top: 0;
  }
}
.footer_sections .footer_blogs .blog_img_1 .blog_img_text p {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 5px;
}
.footer_sections .footer_blogs .blog_img_1 .blog_img_text span {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #999999;
  font-weight: 300;
}
.footer_sections .footer_instagram h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  margin-bottom: 20px;
}
.footer_sections .footer_instagram ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.footer_sections .footer_instagram ul li {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 2px;
}
.footer_sections .footer_instagram ul li:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.footer_sections .footer_instagram ul li .instagram_img img {
  width: 83px;
  height: 85px;
}
@media (max-width: 991px) {
  .footer_sections .footer_instagram ul li .instagram_img img {
    width: 113px;
  }
}
.footer_sections .copyright {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.footer_sections .copyright p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #333333;
  margin-bottom: 0;
}
.footer_sections .copyright p span {
  color: #f38181;
}

/* footer sections end */

/*# sourceMappingURL=style.css.map */
