$yellowcolor: #fce38a;
$themecolor: #f38181;
$secondthemecolor: #95e1d3;
$blackcolor: #000000;
$whitecolor: #ffffff;
$paragraphcolor: #999999;
$headingcolor: #333333;
$borderradius: 5px;
$transition: all 0.3s ease-in;
$robotofontfamily: "Roboto", sans-serif;
$kaushanscriptfontfamily: "Kaushan Script", cursive;
$montserratfontfamily: "Montserrat", sans-serif;
body {
    &:hover {
        a {
            text-decoration: none;
        }
    }
}

/* header top start */
header {
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: $transition;
    z-index: 99;
    .navbar {
        padding: 0;
        .navbar-brand {
            font-size: 30px;
            font-weight: 700;
            color: $whitecolor;
            font-family: $montserratfontfamily;
            letter-spacing: 0.5px;
            cursor: pointer;
        }
        #navbarNavDropdown{
            @media (max-width: 991px){
                position: absolute;
                top: 60px;
                width: 100%;
                background-color: $blackcolor;
                padding: 20px;
            }
        }
        ul {
            li {
                margin-right: 30px;
                @media (max-width: 991px){
                    padding-bottom: 20px;
                    display: block;
                }
                &:last-child {
                    margin-right: 0;
                }
                a {
                    font-size: 14px;
                    color: $whitecolor;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-family: $montserratfontfamily;
                    transition: $transition;
                    letter-spacing: 0.5px;
                    position: relative;
                    padding: 0 !important;
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background-color: $yellowcolor;
                    }
                    &:hover {
                        color: $yellowcolor;
                        transition: $transition;
                        display: inline-flex;
                        &::before {
                            width: 100%;
                            transition: width 0.5s;
                        }
                    }
                }
                &.active {
                    display: inline-flex;
                    a {
                        color: $yellowcolor !important;
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
header.sticky{
    padding: 10px 0;
    background-color: $secondthemecolor;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    transition: $transition;
}
/* header top end */

/* banner sections start */
.banner_sections {
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-size: cover;
    position: relative;
    height: 750px;
    @media (max-width: 767px){
        height: 650px;
    }
    @media (max-width: 480px){
        height: 550px;
    }
    .banner_sections_overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, $themecolor 0%, $yellowcolor 100%);
        opacity: 0.9;
    }
    .banner_sections_content {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h2 {
            font-size: 72px;
            font-family: $kaushanscriptfontfamily;
            font-weight: 600;
            color: $whitecolor;
            margin-bottom: 30px;
            @media (max-width: 767px){
                font-size: 60px;            
            }
            @media (max-width: 480px){
                font-size: 40px;            
            }
        }
        h1 {
            font-size: 10vw;
            font-family: $montserratfontfamily;
            font-weight: 700;
            color: $whitecolor;
            margin-bottom: 50px;
            max-width: 900px;
            margin: 0 auto;
            position: relative;
            line-height: 120px;
            text-align: center;
            text-transform: uppercase;
            @media (max-width: 767px){
                line-height: 80px;
            }
            @media (max-width: 480px){
                line-height: 50px;
            }
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -40px;
                right: 0;
                margin: auto;
                width: 60px;
                height: 2px;
                background-color: $whitecolor;
            }
        }
        a {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            color: $whitecolor;
            font-family: $montserratfontfamily;
            padding: 8px 30px;
            border: solid 3px $whitecolor;
            background-color: transparent;
            transition: $transition;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 80px;
            letter-spacing: 0.5px;
            &:hover {
                transition: $transition;
                background-color: $whitecolor;
                color: $yellowcolor;
            }
        }
    }
}
/* banner sections end */

/* about_us sections start */
.about_us_sections {
    position: relative;
    padding: 60px 0 80px 0;
    @media (max-width: 991px){
        padding: 50px 0;
    }
    .sections_heading{
        text-align: center;
        span{
            font-size: 24px;
            font-family: $kaushanscriptfontfamily;
            color: $headingcolor;
            display: block;
            margin-bottom: 10px;
            text-transform: capitalize;
            font-weight: normal; 
        }
        h2{
            font-size: 30px;
            font-weight: 700;
            font-family: $montserratfontfamily;
            color: $headingcolor;
            text-transform: uppercase; 
            position: relative;
            &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 100px;
                    margin: auto;
                    width: 50px;
                    height: 3px;
                    background-color: $themecolor;
                    @media (max-width: 480px){
                        top: 80px;
                    }
            }
        }
        p{
            font-size: 15px;
            color: $paragraphcolor;
            line-height: 26px;
            margin: 0 auto;
            width: 100%;
            max-width: 950px;
            margin: 60px auto 50px auto;
            text-align: center;
            @media (max-width: 480px){
                margin: 40px auto 50px auto;
            }
        }
    }
    .about_us_card {
        position: relative;
        width: 100%;
        height: 233px;
        box-shadow: none;
        transition: $transition;
        @media (max-width: 991px){
            margin-bottom: 30px;
        }
        @media (max-width: 767px){
            margin-bottom: 30px;
        }
        // @media (max-width: 767px){
        //     margin-bottom: 100px;
        // }
        .about_us_card_overlay {
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, $themecolor 0%, $yellowcolor 100%);
            opacity: 0.9;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            opacity: 0;
            i {
                font-size: 20px;
                color: $whitecolor;
                margin-bottom: 10px;
            }
            h4 {
                font-size: 18px;
                text-transform: uppercase;
                color: $whitecolor;
                margin-bottom: 0;
            }
        }
        img {
            width: 100%;
            height: 100%;
        }
        &:hover {
            box-shadow: 10px 10px #95e1d3;
            transition: $transition;
            .about_us_card_overlay {
                transition: $transition;
                opacity: 0.9;
            }
        }
    }
}
/* about_us sections end */

/* counter no sections start */
.counter_no_sections{
    background-color: $secondthemecolor;
    .counter_number{
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                display: inline-block; 
                text-align: center;
                width: 218.4px;
                padding: 60px 0;
                border-left: solid 1px $whitecolor;
                @media (max-width: 991px){
                    width: 134.4px;
                    padding: 50px 0;
                }
                @media (max-width: 767px){
                    border: none;
                    width: 48%;
                }
                @media (max-width: 480px){
                    width: 32%;
                }
                .timer{
                    font-size: 60px;
                    font-weight: 700;
                    font-family: $montserratfontfamily;
                    color: $whitecolor;
                    @media (max-width: 991px){
                        font-size: 50px;
                    }
                }
                .caption{
                    .stat-caption{
                        font-size: 14px;
                        color: $whitecolor;
                        font-family: $montserratfontfamily;
                        text-transform: uppercase;
                        font-weight: normal;
                        margin-bottom: 0;
                        @media (max-width: 991px){
                            font-size: 10px;
                        }
                    }
                }
            }
            .last_rit_border{
                border-right: solid 1px $whitecolor;
                @media (max-width: 767px){
                    border: none;
                }
            }
        }
    }
}
/* counter no sections end */

/* amazing services sections start */
.amazing_services_sections{
    padding: 70px 0 30px 0;
    position: relative;
    .sections_heading{
        text-align: center;
        span{
            font-size: 24px;
            font-family: $kaushanscriptfontfamily;
            color: $headingcolor;
            display: block;
            margin-bottom: 10px;
            text-transform: capitalize;
            font-weight: normal; 
        }
        h2{
            font-size: 30px;
            font-weight: 700;
            font-family: $montserratfontfamily;
            color: $headingcolor;
            text-transform: uppercase; 
            position: relative;
            margin-bottom: 80px;
            &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 80px;
                    margin: auto;
                    width: 50px;
                    height: 3px;
                    background-color: $themecolor;
                    @media (max-width: 480px){
                        top: 80px;
                    }   
            }
        }
    }
    .servic_border_botm{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 110px;
            bottom: 0;
            right: 0;
            background-color: #e5e5e5;
            width: 100%;
            height: 1px;
            @media (max-width: 991px){
                display: none;
            }
        }
    }
    .services_tab{
        display: flex;
        margin-bottom: 40px;
        padding-bottom: 40px;
        @media (max-width: 767px){
            display: unset;
            text-align: center;
        }
        .services_icon{
            svg{
                width: 30px;
                height: 30px;
                fill: $secondthemecolor;
                margin-right: 20px;
                @media (max-width: 767px){
                    margin-bottom: 20px;
                }
            }
        }
        .services_text{
            @media (max-width: 767px){
                margin-bottom: 40px;
            }
            h6{
                font-size: 14px;
                text-transform: uppercase;
                color: $headingcolor;
                font-family: $montserratfontfamily;
                margin-bottom: 10px;
            }
            p{
                font-size: 15px;
                color: $paragraphcolor;
                font-family: $robotofontfamily;
                margin-bottom: 0;
            }
        }
    }
}
/* amazing services sections end */

/* unique design sections start */
.unique_design_sections{
    background-image: url(../images/mobil-background-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;   
    position: relative;
    @media (max-width: 767px){
        height: 600px;
    }
    // @media (max-width: 480px){
    //     height: auto;
    // }
    .unique_design_sections_overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255,255,255,0.8);
    }
    .sections_heading{
        text-align: center;
        padding-top: 60px;
        span{
            font-size: 24px;
            font-family: $kaushanscriptfontfamily;
            color: $headingcolor;
            display: block;
            margin-bottom: 10px;
            text-transform: capitalize;
            font-weight: normal; 
        }
        h2{
            font-size: 30px;
            font-weight: 700;
            font-family: $montserratfontfamily;
            color: $headingcolor;
            text-transform: uppercase; 
            position: relative;
            margin-bottom: 80px;
            @media (max-width: 480px){
                margin-bottom: 0;
            }
            &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 80px;
                    margin: auto;
                    width: 50px;
                    height: 3px;
                    background-color: $themecolor;
                    @media (max-width: 480px){
                        top: 80px;
                    } 
            }
        }
    }
    .unique_mobil{
        position: relative;
        text-align: center;
        img{
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            margin-top: 29px;
            @media (max-width: 991px){
                max-width: 80%;
                width: 100%;
                margin-top: 73px;
            }
            @media (max-width: 767px){
                margin-top: 5px;
            }
            @media (max-width: 480px){
                margin-top: 130px;
            }
        }
    }
}
/* unique design sections end */

/* what we do sections start */
.what_we_do_sections{
    padding: 80px 0;
    position: relative;
    .sections_heading{
        text-align: center;
        margin-bottom: 50px;
        span{
            font-size: 24px;
            font-family: $kaushanscriptfontfamily;
            color: $headingcolor;
            display: block;
            margin-bottom: 10px;
            text-transform: capitalize;
            font-weight: normal; 
        }
        h2{
            font-size: 30px;
            font-weight: 700;
            font-family: $montserratfontfamily;
            color: $headingcolor;
            text-transform: uppercase; 
            position: relative;
            &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 90px;
                    margin: auto;
                    width: 50px;
                    height: 3px;
                    background-color: $themecolor;
                    @media (max-width: 480px){
                        top: 80px;
                    }
            }
        }
        p{
            font-size: 15px;
            color: $paragraphcolor;
            line-height: 26px;
            margin: 0 auto;
            width: 100%;
            max-width: 950px;
            margin: 60px auto 50px auto;
            text-align: center;
        }
    }   
    .what_we_left_img{
        img{
            width: 100%;
            height: auto;
            @media (max-width: 991px){
                margin-bottom: 30px;
            }
        }
    }
    .what_we_right_accordin{
        #accordion{
            .card{
                border-radius: unset;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
                .card-header{
                    background-color: transparent;
                    padding: 10px 20px;
                    .mb-0{
                        display: flex;
                        align-items: center;
                        svg{
                            width: 30px;
                            height: 30px;
                            fill: $secondthemecolor;
                            margin-right: 10px;
                        }
                        a{
                            font-size: 14px;
                            text-transform: uppercase;
                            color: $headingcolor;
                            font-family: $montserratfontfamily;
                        }
                    }
                }
                .card-body{
                    font-size: 15px;
                    font-style: italic;
                    color: $paragraphcolor;
                    font-family: $robotofontfamily;
                    line-height: 25px;
                    padding: 15px;
                    font-weight: 300;
                }
            }
        }
    }
}
/* what we do sections end */

/* quote testimonial sections start */
.quote_testimonial_sections{
    background-color: #f8f8f8;
    padding: 60px 0;
    position: relative;
    #testimonial4{
        .carousel-inner{
            width: 85%;
            margin: 0 auto;
            .carousel-item{
                .testimonial4_slide{
                    display: flex;
                    @media (max-width: 767px){
                        display: unset;
                        text-align: center;
                    }
                    .testimonial_img{
                        width: 350px;
                        height: 120px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: solid 2px $secondthemecolor;
                        margin: 8px 30px 0 0;
                        @media (max-width: 767px){
                            width: 100px;
                            height: 100px;
                            margin: 0 auto;
                            border-radius: $borderradius;
                            margin-bottom: 15px;
                        }
                        svg{
                            width: 50px;
                            height: 50px;
                            fill: $secondthemecolor;
                            @media (max-width: 991px){
                                width: 45px;
                                height: 45px;
                            }
                        }
                    }
                    .testimonial_text{
                        p{
                            font-size: 22px;
                            font-style: italic;
                            color: $paragraphcolor;
                            line-height: 30px;
                            font-weight: 300;
                            @media (max-width: 991px){
                                font-size: 18px;
                                line-height: 25px;
                            }
                        }
                        h4{
                            font-size: 22px;
                            font-family: $kaushanscriptfontfamily !important;
                            color: $headingcolor;
                            margin-bottom: 0;
                            position: relative;
                            padding-left: 60px;
                            &::before{
                                content: "";
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                top: 18px;
                                width: 50px;
                                height: 3px;
                                background-color: $themecolor;
                                @media (max-width: 767px){
                                    left: 120px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .carousel-control-prev{
            width: 0;
            font-size: 35px;
            color: $headingcolor;
            padding-left: 6px;
        }
        .carousel-control-next{
            width: 0;
            font-size: 35px;
            color: $headingcolor;
            padding-right: 6px;
        }
    }
}
/* quote testimonial sections end */

/* meet our team sections start */
.meet_our_team_sections{
    position: relative;
    padding: 70px 0;
    @media (max-width: 991px){
        padding: 70px 0 0 0;
    }
    .sections_heading{
        text-align: center;
        span{
            font-size: 24px;
            font-family: $kaushanscriptfontfamily;
            color: $headingcolor;
            display: block;
            margin-bottom: 10px;
            text-transform: capitalize;
            font-weight: normal; 
        }
        h2{
            font-size: 30px;
            font-weight: 700;
            font-family: $montserratfontfamily;
            color: $headingcolor;
            text-transform: uppercase; 
            position: relative;
            &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 100px;
                    margin: auto;
                    width: 50px;
                    height: 3px;
                    background-color: $themecolor;
                    @media (max-width: 480px){
                        top: 80px;
                    }
            }
        }
        p{
            font-size: 15px;
            color: $paragraphcolor;
            line-height: 26px;
            margin: 0 auto;
            width: 100%;
            max-width: 950px;
            margin: 60px auto 60px auto;
            text-align: center;
            @media (max-width: 480px){
                margin: 40px auto 50px auto;
            }
        }
    }
    .our_team{
        position: relative;
        @media (max-width: 991px){
            margin-bottom: 30px;
        }
        @media (max-width: 767px){
            margin-bottom: 30px;
        }
        .team_img{
            width: 100%;
            height: 430px;
            position: relative;
            box-shadow: 0;
            transition: $transition;
            @media (max-width: 767px){
                height: auto;
            }
            .our_team_overlay{
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to bottom, $themecolor 0%, $yellowcolor 100%);
                opacity: 0.9;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                opacity: 0;
                ul{
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li{
                        display: inline-block;
                        text-align: center;
                        margin-right: -4px;
                        a{
                            padding: 12px 14px;
                            border-right: solid 1px $themecolor;
                            background-color: $yellowcolor; 
                            transition: $transition;
                            &:hover{
                                background-color: $themecolor;
                                i{
                                    color: $whitecolor;
                                    transition: $transition;
                                }
                            }
                            i{
                                font-size: 20px;
                                color: $themecolor;
                                transition: $transition;
                            }
                        }
                        .team_last_icon{
                            border-right: 0;
                        }
                    }
                }
            }
            img{
                width: 100%;
                height: 100%;
                @media (max-width: 767px){
                    height: auto;
                }
            }
            &:hover{
                box-shadow: 10px 10px #95e1d3;
                transition: $transition;
                .our_team_overlay{
                    transition: $transition;
                    opacity: 0.9;
                }
            }
        }
        .our_team_footer{
            text-align: center;
            padding-top: 30px;
            p{
                font-size: 14px;
                text-transform: uppercase;
                color: $headingcolor;
                margin-bottom: 5px;
                font-weight: 300;
                font-family: $montserratfontfamily;
                letter-spacing: 0.5px;
            }
            span{
                font-size: 15px;
                font-family: $robotofontfamily;
                color: $paragraphcolor;
                font-style: italic;
                font-weight: 300;
            }
        }

    }
}
/* meet our team sections end */

/* company logo sections start */
.company_logo_sections{
    background-color: #f8f8f8;
    padding: 50px 0;
    .owl-slider{
        #carousel{
            .item{
                img{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
    .owl-nav{
        opacity: 0;
    }
}
/* company logo sections end */

/* some of our work sections start */
.some_of_our_work_sections{
    padding-top: 70px;
    position: relative;
    .sections_heading{
        text-align: center;
        span{
            font-size: 24px;
            font-family: $kaushanscriptfontfamily;
            color: $headingcolor;
            display: block;
            margin-bottom: 10px;
            text-transform: capitalize;
            font-weight: normal; 
        }
        h2{
            font-size: 30px;
            font-weight: 700;
            font-family: $montserratfontfamily;
            color: $headingcolor;
            text-transform: uppercase; 
            position: relative;
            &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 100px;
                    margin: auto;
                    width: 50px;
                    height: 3px;
                    background-color: $themecolor;
            }
        }
        p{
            font-size: 15px;
            color: $paragraphcolor;
            line-height: 26px;
            margin: 0 auto;
            width: 100%;
            max-width: 950px;
            margin: 60px auto 50px auto;
            text-align: center;
        }
    }
    .our_work_row{
        margin-right: 0;
    }
    .our_padding{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .our_work_img_box{
        position: relative;
        width:  100%;
        height: 290px;
        overflow: hidden;
        @media (max-width: 767px){
            height: auto;
        }
        .our_work_img_box_overlay{
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, $themecolor 0%, $yellowcolor 100%);
            opacity: 0.9;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            opacity: 0;
            transform: scale(1.3);
            transition: $transition;
            i{
                font-size: 30px;
                color: $whitecolor;
                margin-bottom: 15px;
            }
            p{
                font-size: 14px;
                font-weight: $montserratfontfamily;
                color: $whitecolor;
                text-transform: uppercase;
                margin-bottom: 0;
            }
            span{
                font-size: 15px;
                font-family: $robotofontfamily;
                color: $whitecolor;
                font-style: italic;
                font-weight: 300;
            }
        }
        img{
            width: 100%;
            height: 100%;
            @media (max-width: 767px){
                height: auto;
            }
        }
        &:hover{
            .our_work_img_box_overlay{
            transform: scale(1);
            opacity: 1;
            transition: $transition;
            }
        }
    }
    .our_larg_img{
        width: 100%;
        height: 580px;
        @media (max-width: 767px){
            height: auto;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    .last_img{
        margin-left: 348px;
        margin-top: -290px;
        @media (max-width: 991px){
            margin-left: 510px;
        }
        @media (max-width: 767px){
            height: auto;
        }
    }
}
/* some of our work sections end */

/* quote testimonial sections 2 start */
.quote_testimonial_sections_2{
    background-color: $whitecolor;
    padding: 80px 0;
    position: relative;
    #testimonial5{
        .carousel-inner{
            width: 90%;
            margin: 0 auto;
            .carousel-item{
                .testimonial4_slide{
                    display: flex;
                    @media (max-width: 767px){
                        display: unset;
                        text-align: center;
                    }
                    .testimonial_img{
                        img{
                            width: 200px;
                            height: 200px;
                            border-radius: 50%;
                            margin-right: 30px;
                        }
                    }
                    .testimonial_text{
                        padding-top: 20px;
                        p{
                            font-size: 22px;
                            font-style: italic;
                            color: $paragraphcolor;
                            line-height: 30px;
                            font-weight: 300;
                            margin-bottom: 0;
                            @media (max-width: 991px){
                                font-size: 18px;
                                margin-bottom: 10px;
                            }
                        }
                        h4{
                            font-size: 22px;
                            font-family: $kaushanscriptfontfamily !important;
                            color: $headingcolor;
                            margin-bottom: 0;
                            position: relative;
                            padding-left: 60px;
                            &::before{
                                content: "";
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                top: 18px;
                                width: 50px;
                                height: 3px;
                                background-color: $themecolor;
                                @media (max-width: 767px){
                                    left: 140px;
                                }
                                @media (max-width: 480px){
                                    left: 110px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .carousel-control-prev{
            width: 0;
            font-size: 35px;
            color: $headingcolor;
            padding-left: 6px;
        }
        .carousel-control-next{
            width: 0;
            font-size: 35px;
            color: $headingcolor;
            padding-right: 6px;
        }
    }
}
/* quote testimonial sections 2 end */

/* what people say sections start */
.what_people_say_sections{
    background-image: url(../images/mobil-background-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
    @media (max-width: 991px){
        height: auto;
    }
    .what_people_say_sections_overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .sections_heading{
        text-align: center;
        padding: 50px 0;
        span{
            font-size: 24px;
            font-family: $kaushanscriptfontfamily;
            color: $headingcolor;
            display: block;
            margin-bottom: 10px;
            text-transform: capitalize;
            font-weight: normal; 
        }
        h2{
            font-size: 30px;
            font-weight: 700;
            font-family: $montserratfontfamily;
            color: $headingcolor;
            text-transform: uppercase; 
            position: relative;
            margin-bottom: 30px;
            &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 80px;
                    margin: auto;
                    width: 50px;
                    height: 3px;
                    background-color: $themecolor;
                    @media (max-width: 480px){
                        top: 80px;
                    }
            }
        }
    }
    .people_client_tab{
        display: flex;
        margin-bottom: 60px;
        @media (max-width: 480px){
            display: unset;
            text-align: center;
        }
        .people_img{
            @media (max-width: 480px){
                margin-bottom: 15px;
            }
            img{
                border-radius: 50%;
                margin-right: 20px;
            }
        }
        .people_client_text{
            @media (max-width: 480px){
                margin-bottom: 40px;
            }
            h4{
                font-size: 14px;
                color: $headingcolor;
                font-family: $montserratfontfamily;
                text-transform: uppercase;
            }
            span{
                font-size: 15px;
                font-family: $robotofontfamily;
                color: $paragraphcolor;
                font-weight: 300;
                font-style: italic;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 30px;
                    width: 50px;
                    height: 3px;
                    background-color: $themecolor;
                    @media (max-width: 480px){
                        left: 20px;
                    }
                }
            }
            p{
                font-size: 15px;
                color: $paragraphcolor;
                font-family: $robotofontfamily;
                margin-bottom: 0;
                line-height: 26px;
                padding-top: 30px;
            }
        }
    }
}
/* what people say sections end */

/* latest blog sections start */
.latest_blog_sections{
    padding: 70px 0;
    position: relative;
    @media (max-width: 991px){
        padding: 70px 0 20px 0;
    }
    .sections_heading{
        text-align: center;
        span{
            font-size: 24px;
            font-family: $kaushanscriptfontfamily;
            color: $headingcolor;
            display: block;
            margin-bottom: 10px;
            text-transform: capitalize;
            font-weight: normal; 
        }
        h2{
            font-size: 30px;
            font-weight: 700;
            font-family: $montserratfontfamily;
            color: $headingcolor;
            text-transform: uppercase; 
            position: relative;
            margin-bottom: 80px;
            &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 80px;
                    margin: auto;
                    width: 50px;
                    height: 3px;
                    background-color: $themecolor;
                    @media (max-width: 480px){
                        top: 80px;
                    }
            }
        }
    }
    .latest_blog_tab{
        @media (max-width: 991px){
            margin-bottom: 50px;
        }
        .blog_image{
            width: 100%;
            height: 230px;
            position: relative;
            @media (max-width: 767px){
                height: auto;
            }
            img{
                width: 100%;
                height: 100%;
                @media (max-width: 767px){
                    height: auto;
                }
            }
            .img_date{
                background-color: $secondthemecolor;
                padding: 10px 18px;
                display: inline-block;
                position: absolute;
                bottom: 10px;
                left: -10px;
                h2{
                    font-size: 30px;
                    font-weight: 600;
                    color: $whitecolor;
                    font-family: $montserratfontfamily;
                    margin-bottom: 0;
                }
                span{
                    font-size: 15px;
                    font-family: $robotofontfamily;
                    font-weight: 300;
                    font-style: italic;
                    color: $whitecolor;
                }
            }
        }
        .latest_body_tab{
            padding: 20px 0 0 0;
            border-bottom: solid 1px #e5e5e5;
            h4{
                font-size: 14px;
                font-family: $montserratfontfamily;
                text-transform: uppercase;
                color: $headingcolor;
                font-weight: 400;
            }
            p{
                font-size: 15px;
                font-family: $robotofontfamily;
                color: $paragraphcolor;
                line-height: 25px;
            }
        }
        .latest_sochil{
            padding-top: 10px;
            span{
                font-size: 15px;
                color: $paragraphcolor;
                font-weight: 300;
                font-style: italic;
                margin-right: 15px;
                i{
                    font-size: 20px;
                    color: $secondthemecolor;
                    margin-right: 5px;
                }
            }
        }
    }
}
/* latest blog sections end */

/* open map sections start */
.open_map_sections{
    background-image: url(../images/mobil-background-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 480px){
        height: 180px;
    }
    .open_map_sections_overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .open_map{
        text-align: center;
        i{
            font-size: 40px;
            color: $themecolor;
            margin-bottom: 10px;
            position: relative;
        }
        h3{
            font-size: 24px;
            font-family: $montserratfontfamily;
            font-weight: 600;
            color: $themecolor;
            text-transform: uppercase;
            position: relative;
            margin-bottom: 0;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 60px;
                margin: auto;
                width: 50px;
                height: 3px;
                background-color: $themecolor;
        }
        }
    }
}
/* open map sections start end */

/* footer sections start */
.footer_sections{
    background-color: #f8f8f8;
    padding: 80px 0 20px 0;
    position: relative;
    .footer_border{
        border-bottom: solid 1px #e5e5e5;
        padding-bottom: 50px;
    }
    .footer_mogo{
        @media (max-width: 991px){
            margin-bottom: 50px;
        }
        .foter_mogo_text{
            border-bottom: solid 1px #e5e5e5;
            h1{
                font-size: 46px;
                font-family: $montserratfontfamily;
                font-weight: 700;
                color: #cccccc;
                margin-bottom: 20px;
            }
            p{
                font-size: 15px;
                color: $paragraphcolor;
                font-family: $robotofontfamily;
                margin-bottom: 20px;
                line-height: 25px;
            }
            h3{
                font-size: 18px;
                font-family: $montserratfontfamily;
                font-weight: 700;
                color: $headingcolor;
                display: inline-block;
                margin-bottom: 15px;
            }
            span{
                font-size: 14px;
                color: $headingcolor;
                font-family: $montserratfontfamily;
            }
        }
        .mogo_icons{
            padding-top: 20px;
            ul{
                padding: 0;
                margin: 0;
                list-style: none;
                span{
                    font-size: 15px;
                    font-family: $robotofontfamily;
                    color: $paragraphcolor;
                    font-style: italic;
                    font-weight: 300;
                    padding-right: 15px;
                }
                li{
                    display: inline-block;
                    margin-right: 10px;
                    &:last-child{
                        margin-right: 0;
                    }
                    a{
                        i{
                            font-size: 18px;
                            color: $secondthemecolor;
                            transition: $transition;
                            &:hover{
                                color: $themecolor;
                                transition: $transition;
                            }
                        }
                    }
                }
            }
            form{
                .form-group{
                    display: flex;
                    margin-top: 30px;
                    .form-control{
                        border: solid 1px #e7e7e7;
                        outline: none;
                        width: 60%;
                        height: 45px;
                        font-size: 15px;
                        color: #cccccc;
                        border-radius: unset;
                        transition: $transition;
                        &:focus{
                            box-shadow: none;
                            border: solid 1px $secondthemecolor;
                            transition: $transition;
                        }
                        &::placeholder{
                            font-size: 15px;
                            font-family: $robotofontfamily;
                            color: #cccccc;
                            font-style: italic;
                            font-weight: 300;
                        }
                    }
                    button{
                        font-size: 14px;
                        font-weight: 600;
                        font-family: $montserratfontfamily;
                        color: $whitecolor;
                        text-transform: uppercase;
                        background-color: $secondthemecolor;
                        border: none;
                        outline: none;
                        width: 30%;
                        height: 45px;                       
                    }
                }
            }
        }
    }
    .footer_blogs{
        h3{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 400;
            font-family: $montserratfontfamily;
            color: $headingcolor;
            margin-bottom: 20px;
        }
        .blog_img_1{
            display: flex;
            margin-bottom: 30px;
            .blog_img{
                margin-right: 20px;
                img{
                    width: 120;
                    height: 80;
                }
            }
            .blog_img_text{
                padding-top: 10px;
                @media (max-width: 991px){
                    padding-top: 0;
                }
                p{
                    font-size: 12px;
                    font-family: $montserratfontfamily;
                    text-transform: uppercase;
                    font-weight: 300;
                    margin-bottom: 5px;
                }
                span{
                    font-size: 13px;
                    font-family: $robotofontfamily;
                    font-style: italic;
                    color: $paragraphcolor;
                    font-weight: 300;
                }
            }
        }
    }
    .footer_instagram{
        h3{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 400;
            font-family: $montserratfontfamily;
            color: $headingcolor;
            margin-bottom: 20px;
        }
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            li{
                display: inline-block;
                margin-right: 2px;
                margin-bottom: 2px;
                &:last-child{
                    margin-right: 0;
                    margin-bottom: 0;
                }
                .instagram_img{
                    img{
                        width: 83px;
                        height: 85px;
                        @media (max-width: 991px){
                            width: 113px;
                        }
                    }
                }
            }
        }
    }
    .copyright{
        display: flex;
        justify-content: center;
        padding-top: 20px;
        p{
            font-size: 14px;
            font-family: $montserratfontfamily;
            font-weight: 400;
            color: $headingcolor;
            margin-bottom: 0;
            span{
                color: $themecolor;
            }
        }
    }
}
/* footer sections end */